<?xml version='1.0' encoding='utf-8'?>
<widget id="org.openbeautyfacts.scanner" android-versionCode="250" version="2.5.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OpenBeautyFacts</name>
    <description>
       Scan the barcode of beauty products, decrypt labels and contribute to the Open Beauty Facts project.
    </description>
    <author email="contact@openbeautyfacts.org" href="https://openbeautyfacts.org">
        Stéphane Gigandet
    </author>
    <content src="index.html" />
    <access origin="*" />

    <icon src="www/res/icons/icon-57.png" width="57" height="57" />
    <platform name="android">
          <icon src="www/res/icons/android/drawable-ldpi/icon-36.png" density="ldpi" />
          <icon src="www/res/icons/android/drawable-mdpi/icon-48.png" density="mdpi" />
          <icon src="www/res/icons/android/drawable-hdpi/icon-72.png" density="hdpi" />
          <icon src="www/res/icons/android/drawable-xhdpi/icon-96.png" density="xhdpi" />
	  <hook type="before_compile" src="overwrite_beep.js" />
    </platform>
    <platform name="ios">
          <splash src="www/res/icons/ios/Default@2x~universal~anyany.png" />
          <icon src="www/res/icons/ios/icon-40.png" width="40" height="40" />
          <icon src="www/res/icons/ios/icon-72.png" width="72" height="72" />
          <icon src="www/res/icons/ios/icon-72@2x.png" width="144" height="144" />
          <icon src="www/res/icons/ios/icon-76.png" width="76" height="76" />
          <icon src="www/res/icons/ios/icon-120.png" width="120" height="120" />
          <icon src="www/res/icons/ios/icon-152.png" width="152" height="152" />
          <icon src="www/res/icons/ios/icon-167.png" width="167" height="167" />
          <preference name="StatusBarOverlaysWebView" value="false" />
          <preference name="StatusBarBackgroundColor" value="#000000" />
          <preference name="StatusBarStyle" value="lightcontent" />
	  <hook type="before_compile" src="overwrite_beep_ios.js" />
    </platform>
</widget>
